<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Найденный пользователь</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>

        </tr>
        <tr>
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getFirstName()}">Name</td>
            <td th:text="${user.getLastName()}">Last Name</td>
            <td th:text="${user.getEmail()}">Email</td>
            <td>
                <form th:action="@{/edit/{id}(id=${user.id})}" th:object="${user}">
                    <button type="submit">Change</button>
                </form>
            </td>
            <td>
                <form th:action="@{/delete(id=${user.id})}" th:object="${user}">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <button type="submit">Remove</button>
                </form>
            </td>

        </tr>
    </table>
    <br/>
    <form th:action="@{/}">
        <button type="submit">Back to user list</button>
    </form>
</div>
</body>
</html>